<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Canal Midcentury Light Gray Sofa</title>

  <style media="screen">
    #container {
      height: 100vh;
      width: 100vw;
    }

    img {
      width: 100vw;
    }

    .img-center {
      height: 85%;
    }

    .img-main {
      height: 55%;
      margin-top:5%;
      margin-bottom:5%;
    }

    .img-pd {
      height: 25%;
      margin-top:5%;
      margin-bottom:5%;
    }

    .img-bottom {
      position: absolute;
      bottom: 0;
    }
  </style>
</head>

<body>
  <script type="application/ld+json">
    {
      "@context": "https://schema.googleapis.com/",
      "@type": "ARArtifact",
      "arTarget": {
        "@type": "ARImageTarget",
        "name" : "Light Gray Sofa",
        "image": "https://cdn-images.article.com/products/SKU343/2890x1500/image34798.jpg"
      },
      "arContent": {
        "@type": "WebPage",
        "name": "Light Gray Sofa",
        "description": "Moe's Home Collection Canal Midcentury Light Gray Sofa",
        "image": "https://mobileimages.lowes.com/product/converted/100034/1000341943lg.jpg",
        "url": "http://googlelenshack.herokuapp.com/sofa_android.html",
        "publisher": {
  	"@type": "Organization",
  	"name": "Lowes",
  	"logo": "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Lowes_Companies_Logo.svg/2000px-Lowes_Companies_Logo.svg.png"
        }
      }
    }
  </script>
  <script type="text/javascript">
     window.onload = function() {
        window.location = "lowes://shop/pd/1000341943";
     }
  </script>
</body>

</html>
